[user]
	email = Briankimathi1188@gmail.com
	name = brynkii
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = false
[core]
	editor = nvim
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[http]
	postBuffer = 524288000
