set editing-mode vi
set enable-bracketed-paste on
set bell-style none          # MAKE IT STOP!!
set keymap vi
# Better completion
set completion-ignore-case on
set completion-map-case on
set show-all-if-ambiguous on
